* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background: #f1f5f8;
	color: #222;
}

.book-list {
	width: 90vw;
	max-width: 1170px;
	margin: 5rem auto;
	display: grid;
	gap: 2rem;
}

@media screen and (min-width: 768px) {
	.book-list {
		grid-template-columns: repeat(3, 1fr);
	}
}

.book {
	padding: 2rem;
	border-radius: 1rem;
	background-color: #fff;
	text-align: center;
	position: relative;
}

.book img {
	width: 100%;
	object-fit: cover;
	padding: 1rem;
}

.book h2 {
	font-size: 1rem;
	margin-top: 1rem;
}

.book h4 {
	color: 'blue';
	font-size: '0.75rem';
	margin-top: '0.5rem';
	letter-spacing: 2px;
}

.number {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0.75rem;
	background-color: #c35600;
	border-top-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	font-size: 1rem;
	color: #fff;
}

.title {
	text-align: center;
	padding-top: 2rem;
}
